body {
  color:white;
  text-align: center;
  background-image: url(https://kartinki.pibig.info/uploads/posts/2024-02/1709138614_kartinki-pibig-info-p-cherno-belie-kartinki-na-rabochii-stol-vko-8.jpg);
}

.win {
  margin-top: 100px;
  margin-right: 20rem;
  margin-left: 20rem;
  margin-bottom: 20rem;
  border-radius: 50px;
  border: 5px solid white;
  font-family: sans-serif;
  padding: 25px;
  background-color: rgba(0, 0, 0, 0.5);
}

tr, th, td, table{
  text-align: center;
  margin: auto;
}
