body {
  color:white;
  text-align: center;
  display: flex;
  justify-content: center;
  background-image: url(https://img.freepik.com/free-vector/black-background-with-little-white-circles_1060-54.jpg?semt=ais_hybrid&w=740);
}

.win {
  margin-top: 9%;
  border-radius: 50px;
  border: 5px solid rgba(255, 255, 255, 0.2);
  font-family: sans-serif;
  padding: 10vh 26vh 10vh 26vh;
  background-color: rgba(0, 0, 0, 0.9);
}

tr, th, td, table{
  text-align: center;
  margin: auto;
}

button {
  border-radius: 0;
  background-color: white;
  border: 0.3vh dotted rgb(61, 71, 82);
}

input {
  border-radius: 0;
  border: 0.3vh dotted rgb(61, 71, 82);
}

.tab {
  border: 0.5vh dashed rgb(139, 152, 167);
  padding: 4vh;
  border-radius: 5vh;
}
